.cargo
.idea
.github
rsvim_cli
rsvim_core
rsvim_macro
target
tests_and_benchmarks
.editorconfig
.gitignore
.markdownlint.jsonc
.nvimrc
.prettierignore
CHANGELOG.md
Cargo.lock
DEVELOPMENT.md
codecov.yml
dev.cmd
*.py
*.toml
*.log
*.bak
