[package]
name = "rsvim"
version = "0.1.0"
edition = "2021"
rust-version = "1.70.0"
authors = ["Lin Rongbin <linrongbin16@outlook.com>"]
description = "Vim Reinvention with Rust+Typescript."
repository = "https://github.com/rsvim/rsvim"
readme = "README.md"
homepage = "https://github.com/rsvim/rsvim"
documentation = "https://docs.rs/rsvim"
license = "GPL-3.0 or MIT"
keywords = ["vim", "neovim", "text-editor"]
categories = ["text-editor"]

[dependencies]
crossterm = "0.27"
tracing = "0.1"
tracing-subscriber = "0.3"
tokio = { version = "1", features = ["full"] }
