[workspace]
members = ["rsvim_core", "rsvim_cli"]
resolver = "3"

[workspace.package]
version = "0.1.2"
edition = "2024"
rust-version = "1.85.0"
authors = ["Lin Rongbin <linrongbin16@outlook.com>"]
repository = "https://github.com/rsvim/rsvim"
readme = "README.md"
homepage = "https://rsvim.github.io/"
documentation = "https://rsvim.github.io/"
license = "Vim"
keywords = ["vim", "neovim", "text-editor", "editor", "terminal"]
categories = ["text-editors"]
exclude = [".DS_Store"]

[workspace.dependencies]
rsvim_core = { version = "0.1.2", path = "./rsvim_core" }
crossterm = { version = "0.29", features = ["event-stream"] }
bitflags = "2.9.4"
jiff = { version = "0.2.15", features = ["tzdb-bundle-always"] }
log = { version = "0.4", features = [
  "max_level_trace",
  "release_max_level_error",
] }
env_filter = "0.1.3"
fern = "0.7"
tracing = { version = "0.1", features = [
  "max_level_trace",
  "release_max_level_error",
] }
tracing-subscriber = { version = "0.3", features = [
  "env-filter",
  "parking_lot",
] }
tracing-appender = { version = "0.2", features = ["parking_lot"] }
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7.16", features = ["full"] }
# tokio-stream = { version = "0.1.16", features = ["full"] }
lexopt = "0.3.1"
futures = "0.3"
# rand = "0.8.5"
# heed = "0.20.5"
# bytes = { version = "1" }
compact_str = "0.9"
ropey = { version = "1.6.1", default-features = false }
geo = "0.30.0"
num-traits = "0.2.19"
parking_lot = "0.12.4"
dirs = "6.0.0"
anyhow = "1.0.100"
# thiserror = "2"
regex = "1.11.2"
# url = "2.5.7"
foldhash = "0.2"
path-absolutize = "3.1.1"
# toml = "0.8.20"
zstd = "0.13.3"
ascii = "1.1.0"
unicode-width = "0.2.1"
# unicode-segmentation = "1.12.0"
# unicode-normalization = "0.1.24"
icu = { version = "2.0.0", features = ["compiled_data"] }
itertools = "0.14.0"
derive_builder = "0.20.2"
lru = "0.13.0"
paste = "1.0.15"
smallvec = "1.15.1"
litemap = "0.8.0"
assert_fs = "1.1.3"
git2 = "0.20"
strum = "0.27.2"
strum_macros = "0.27.2"
async-trait = "0.1.89"
ringbuf = "0.4.8"
# serde_json = "1.0"
normpath = "1.4.0"
bincode = "2.0.1"
snmalloc-rs = "0.3.8"
mimalloc-safe = "0.1.54"
tikv-jemallocator = "0.6"
oxc_resolver = "11.8.1"

# NOTE: Javascript dependencies always keep the same with `deno` {

# deno: https://github.com/denoland/deno/blob/v2.5.0/Cargo.toml
# deno_core: https://github.com/denoland/deno_core/blob/0.357.0/Cargo.toml
# deno_ast: https://github.com/denoland/deno_ast/blob/0.50.1/Cargo.toml

swc_atoms = "=7.0.0"
swc_common = { version = "=14.0.3", features = ["tty-emitter"] }
swc_config = "=3.1.1"
swc_config_macro = "=1.0.1"
swc_ecma_ast = "=15.0.0"
swc_ecma_codegen = "=17.0.0"
swc_ecma_codegen_macros = "=2.0.2"
swc_ecma_loader = "=14.0.0"
swc_ecma_lexer = "=23.0.1"
swc_ecma_parser = "=23.0.0"
swc_ecma_transforms_base = { version = "=25.0.0", features = [
  "inline-helpers",
] }
swc_ecma_transforms_classes = "=25.0.0"
swc_ecma_transforms_compat = "=27.0.0"
swc_ecma_transforms_macros = "=1.0.1"
swc_ecma_transforms_optimization = "=26.0.0"
swc_ecma_transforms_proposal = "=25.0.0"
swc_ecma_transforms_react = "=28.0.0"
swc_ecma_transforms_typescript = "=28.0.0"
swc_ecma_utils = "=21.0.0"
swc_ecma_visit = "=15.0.0"
swc_eq_ignore_macros = "=1.0.1"
# swc_bundler = "=29.0.0"
# swc_graph_analyzer = "=14.0.1"
swc_macros_common = "=1.0.1"
swc_sourcemap = "=9.3.4"
swc_trace_macro = "=2.0.2"
swc_visit = "=2.0.1"

v8 = { version = "=140.0.0", default-features = false }
# Pin this version, see: https://github.com/denoland/rusty_v8/issues/1849
timezone_provider = "=0.0.14"

# NOTE: Javascript dependencies always keep the same with `deno` }

# Debug
[profile.dev.package.v8]
opt-level = 1

# Nightly
[profile.nightly]
inherits = "release"
debug = true

# Release
[profile.release]
lto = true
strip = true
incremental = true
codegen-units = 1
opt-level = "s"
