[workspace]
members = ["rsvim_core", "rsvim_cli"]
resolver = "2"

[workspace.package]
version = "0.1.1-alpha.8"
edition = "2024"
rust-version = "1.85.0"
authors = ["Lin Rongbin <linrongbin16@outlook.com>"]
repository = "https://github.com/rsvim/rsvim"
readme = "README.md"
homepage = "https://rsvim.github.io/"
documentation = "https://rsvim.github.io/"
license = "Vim"
keywords = ["vim", "neovim", "text-editor", "editor", "terminal"]
categories = ["text-editors"]
exclude = [".DS_Store"]

[workspace.dependencies]
rsvim_core = { version = "0.1.1-alpha.8", path = "./rsvim_core" }
crossterm = { version = "0.29", features = ["event-stream"] }
jiff = { version = "0.2.6", features = ["tzdb-bundle-always"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [
  "env-filter",
  "parking_lot",
] }
tracing-appender = { version = "0.2", features = ["parking_lot"] }
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7.14", features = ["full"] }
# tokio-stream = { version = "0.1.16", features = ["full"] }
clap = { version = "4.5.35", features = ["derive", "unicode"] }
futures = "0.3"
# rand = "0.8.5"
# heed = "0.20.5"
# bytes = { version = "1" }
# serde_json = "1.0.132"
compact_str = { version = "0.9", features = ["bytes"] }
ropey = { version = "1.6.1", default-features = false }
geo = "0.30.0"
num-traits = "0.2.19"
parking_lot = "0.12.3"
dirs = "6.0.0"
anyhow = "1.0.98"
thiserror = "2"
regex = "1.11.1"
# url = "2.5.4"
ahash = "0.8.11"
path-absolutize = "3.1.1"
toml = "0.8.20"
once_cell = { version = "1.21.3", features = ["parking_lot"] }
zstd = "0.13.3"
ascii = "1.1.0"
unicode-width = "0.2.0"
unicode-segmentation = "1.12.0"
# unicode-normalization = "0.1.24"
# icu = { version = "1.5.0", features = ["compiled_data"] }
derive_builder = "0.20.2"
lru = "0.13.0"
paste = "1.0.15"

# NOTE: Javascript dependencies always keep the same with `deno` {

# deno: https://github.com/denoland/deno/blob/v2.2.11/Cargo.toml
# deno_core: https://github.com/denoland/deno_core/blob/0.343.0/Cargo.toml
# deno_ast: https://github.com/denoland/deno_ast/blob/0.46.5/Cargo.toml

v8 = { version = "=135.1.0", default-features = false }
swc_atoms = "=5.0.0"
swc_common = "=8.1.0"
swc_config = "=2.0.0"
swc_config_macro = "=1.0.0"
swc_ecma_ast = "=8.1.2"
swc_ecma_codegen = "=10.0.0"
swc_ecma_codegen_macros = "=2.0.0"
swc_ecma_loader = "=8.0.0"
swc_ecma_parser = "=11.1.2"
swc_ecma_transforms_base = "=12.2.0"
swc_ecma_transforms_classes = "=12.0.0"
swc_ecma_transforms_compat = "=13.0.0"
swc_ecma_transforms_macros = "=1.0.0"
swc_ecma_transforms_optimization = "=12.0.0"
swc_ecma_transforms_proposal = "=12.0.1"
swc_ecma_transforms_react = "=13.0.1"
swc_ecma_transforms_typescript = "=13.0.0"
swc_ecma_utils = "=12.0.0"
swc_ecma_visit = "=8.0.0"
swc_eq_ignore_macros = "=1.0.0"
# swc_bundler = "=15.0.0"
# swc_graph_analyzer = "=9.0.0"
swc_macros_common = "=1.0.0"
swc_trace_macro = "=2.0.0"
swc_visit = "=2.0.0"
swc_visit_macros = "=0.5.13"
sourcemap = "9.1.2"

# NOTE: Javascript dependencies always keep the same with `deno` }

# Profiles

# Debug
[profile.dev.package.v8]
opt-level = 1

# Release
[profile.release]
lto = true
strip = true
codegen-units = 1
opt-level = 'z'   # Optimize for size

# NOTE: Crates size optimize keep the same with `deno` {

# deno: https://github.com/denoland/deno/blob/v2.2.11/Cargo.toml
[profile.release.package.base64-simd]
opt-level = 3
# [profile.release.package.brotli]
# opt-level = 3
# [profile.release.package.brotli-decompressor]
# opt-level = 3
[profile.release.package.bytes]
opt-level = 3
[profile.release.package.futures-util]
opt-level = 3
[profile.release.package.futures-io]
opt-level = 3
[profile.release.package.futures-channel]
opt-level = 3
[profile.release.package.futures-executor]
opt-level = 3
[profile.release.package.futures-sink]
opt-level = 3
[profile.release.package.futures-task]
opt-level = 3
[profile.release.package.futures-core]
opt-level = 3
[profile.release.package.rand]
opt-level = 3
[profile.release.package.serde]
opt-level = 3
# [profile.release.package.serde_v8]
# opt-level = 3
[profile.release.package.serde_json]
opt-level = 3
[profile.release.package.tokio]
opt-level = 3
[profile.release.package.url]
opt-level = 3
[profile.release.package.v8]
opt-level = 3
[profile.release.package.zstd]
opt-level = 3
[profile.release.package.zstd-sys]
opt-level = 3
[profile.release.package.mio]
opt-level = 3

# NOTE: Crates size optimize keep the same with `deno` }

# Nightly
[profile.nightly]
inherits = "release"
debug = true
