[workspace]
members = ["rsvim_core", "rsvim_cli"]
resolver = "2"

[workspace.package]
version = "0.1.1-alpha.10"
edition = "2024"
rust-version = "1.85.0"
authors = ["Lin Rongbin <linrongbin16@outlook.com>"]
repository = "https://github.com/rsvim/rsvim"
readme = "README.md"
homepage = "https://rsvim.github.io/"
documentation = "https://rsvim.github.io/"
license = "Vim"
keywords = ["vim", "neovim", "text-editor", "editor", "terminal"]
categories = ["text-editors"]
exclude = [".DS_Store"]

[workspace.dependencies]
rsvim_core = { version = "0.1.1-alpha.10", path = "./rsvim_core" }
crossterm = { version = "0.29", features = ["event-stream"] }
jiff = { version = "0.2.15", features = ["tzdb-bundle-always"] }
log = { version = "0.4", features = [
  "max_level_trace",
  "release_max_level_error",
] }
env_filter = "0.1.3"
fern = "0.7"
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7.16", features = ["full"] }
# tokio-stream = { version = "0.1.16", features = ["full"] }
lexopt = "0.3.1"
futures = "0.3"
# rand = "0.8.5"
# heed = "0.20.5"
# bytes = { version = "1" }
# serde_json = "1.0.132"
compact_str = "0.9"
ropey = { version = "1.6.1", default-features = false }
geo = "0.30.0"
num-traits = "0.2.19"
parking_lot = "0.12.4"
dirs = "6.0.0"
anyhow = "1.0.98"
thiserror = "2"
regex = "1.11.1"
# url = "2.5.4"
ahash = "0.8.12"
path-absolutize = "3.1.1"
toml = "0.8.20"
zstd = "0.13.3"
ascii = "1.1.0"
unicode-width = "0.2.1"
unicode-segmentation = "1.12.0"
# unicode-normalization = "0.1.24"
icu = { version = "2.0.0", features = ["compiled_data"] }
itertools = "0.14.0"
derive_builder = "0.20.2"
lru = "0.13.0"
paste = "1.0.15"
smallvec = "1.15.1"
litemap = "0.8.0"
assert_fs = "1.1.3"

# NOTE: Javascript dependencies always keep the same with `deno` {

# deno: https://github.com/denoland/deno/blob/v2.4.2/Cargo.toml
# deno_core: https://github.com/denoland/deno_core/blob/0.352.1/Cargo.toml
# deno_ast: https://github.com/denoland/deno_ast/blob/0.48.2/Cargo.toml

v8 = { version = "=137.2.1", default-features = false }
swc_atoms = "=5.0.0"
swc_common = "=9.2.0"
swc_config = "=3.0.0"
swc_config_macro = "=1.0.0"
swc_ecma_ast = "=9.0.0"
swc_ecma_codegen = "=11.0.0"
swc_ecma_codegen_macros = "=2.0.0"
swc_ecma_loader = "=9.0.0"
swc_ecma_parser = "=12.0.0"
swc_ecma_transforms_base = "=13.0.0"
swc_ecma_transforms_classes = "=13.0.0"
swc_ecma_transforms_compat = "=15.0.0"
swc_ecma_transforms_macros = "=1.0.0"
swc_ecma_transforms_optimization = "=14.0.0"
swc_ecma_transforms_proposal = "=13.0.0"
swc_ecma_transforms_react = "=15.0.0"
swc_ecma_transforms_typescript = "=15.0.0"
swc_ecma_utils = "=13.1.0"
swc_ecma_visit = "=9.0.0"
swc_eq_ignore_macros = "=1.0.0"
# swc_bundler = "=17.0.0"
# swc_graph_analyzer = "=10.0.0"
swc_macros_common = "=1.0.0"
swc_trace_macro = "=2.0.1"
swc_visit = "=2.0.0"
swc_visit_macros = "=0.5.13"
sourcemap = "9.1.2"

# NOTE: Javascript dependencies always keep the same with `deno` }

# Debug
[profile.dev.package.v8]
opt-level = 1

# Nightly
[profile.nightly]
inherits = "release"
debug = true

# Release
[profile.release]
lto = true
strip = true
incremental = true
codegen-units = 1
opt-level = 'z'
