[workspace]
members = ["rsvim_core", "rsvim_cli"]
resolver = "2"

[workspace.package]
version = "0.1.1-alpha.8"
edition = "2021"
rust-version = "1.81.0"
authors = ["Lin Rongbin <linrongbin16@outlook.com>"]
repository = "https://github.com/rsvim/rsvim"
readme = "README.md"
homepage = "https://rsvim.github.io/"
documentation = "https://rsvim.github.io/"
license = "Vim OR Apache-2.0"
keywords = ["vim", "neovim", "text-editor", "editor", "terminal"]
categories = ["text-editors"]
exclude = [".DS_Store"]

[workspace.dependencies]
rsvim_core = { version = "0.1.1-alpha.8", path = "./rsvim_core" }
crossterm = { version = "0.28", features = ["event-stream", "serde"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [
    "env-filter",
    "parking_lot",
] }
tracing-appender = { version = "0.2", features = ["parking_lot"] }
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7.12", features = ["full"] }
# tokio-stream = { version = "0.1.16", features = ["full"] }
unicode-width = "0.2.0"
unicode-normalization = "0.1.24"
unicode-segmentation = "1.12.0"
clap = { version = "4.5.19", features = ["derive", "unicode"] }
futures = "0.3"
time = { version = "0.3.36", features = [
    "macros",
    "formatting",
    "parsing",
    "serde",
    "serde-human-readable",
    "rand",
] }
tz-rs = "0.7.0"
tzdb = "0.7.2"
# rand = "0.8.5"
# heed = "0.20.5"
# bytes = { version = "1", features = ["serde"] }
compact_str = { version = "0.8.0", features = ["serde", "bytes"] }
ropey = "1.6.1"
geo = { version = "0.28.0", features = ["serde"] }
num = "0.4.3"
num-traits = "0.2.19"
num-derive = "0.4.2"
parking_lot = "0.12.3"
# async-trait = "0.1.82"
# bincode = "2.0.0-rc.3"
directories = "5.0.1"
anyhow = "1.0.92"
thiserror = "1.0.66"
serde_json = "1.0.132"
regex = "1.11.0"
url = "2.5.2"
path-absolutize = "3.1.1"
toml = "0.8.19"
once_cell = { version = "1.20.2", features = ["parking_lot"] }
tempfile = "3"
assert_fs = "1.1.2"
zstd = "0.13.2"
icu = { version = "1.5.0", features = ["compiled_data", "serde"] }
ascii = "1.1.0"

# NOTE: For javascript dependencies, we simply keep same with deno and don't use dependabot {

# See: https://github.com/denoland/deno/blob/main/Cargo.lock
v8 = "=0.106.0"
swc_common = { version = "=0.37.5", features = ["tty-emitter"] }
swc_ecma_codegen = "=0.155.1"
swc_ecma_parser = "=0.149.1"
swc_ecma_transforms_base = "=0.145.0"
swc_ecma_transforms_typescript = "=0.198.1"
swc_ecma_transforms_react = "=0.191.0"
swc_ecma_visit = "=0.104.8"
swc_bundler = "=0.237.0"
swc_ecma_ast = "=0.118.2"
swc_ecma_loader = "=0.49.1"
swc_atoms = "=0.6.7"

# NOTE: For javascript dependencies, we simply keep same with deno and don't use dependabot }


[profile.release]
lto = true
strip = true
opt-level = "z"
codegen-units = 1

[profile.nightly]
inherits = "release"
debug = true
