[package]
name = "rsvim"
version = "0.1.0"
edition = "2021"
authors = ["Lin Rongbin <linrongbin16@outlook.com>"]
description = "Vim Reinvention with Rust+Typescript."
repository = "https://github.com/rsvim/rsvim"
readme = "README.md"
homepage = "https://github.com/rsvim/rsvim"
documentation = "https://docs.rs/rsvim"
license = "GPL-3.0"
license-file = "LICENSE"
keywords = ["vim", "neovim", "text-editor"]
categories = ["text-editor"]

[dependencies]
crossterm = "0.27"
