[package]
name = "rsvim"
version = "0.1.0"
edition = "2021"
rust-version = "1.79.0"
authors = ["Lin Rongbin <linrongbin16@outlook.com>"]
description = "The VIM editor reinvented in Rust+Typescript."
repository = "https://github.com/rsvim/rsvim"
readme = "README.md"
homepage = "https://github.com/rsvim/rsvim"
documentation = "https://docs.rs/rsvim"
license = "Vim OR Apache-2.0"
keywords = ["vim", "neovim", "text-editor"]
categories = ["text-editor"]

[lib]
doctest = false

[dependencies]
crossterm = { version = "0.28", features = ["event-stream", "serde"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [
  "env-filter",
  "parking_lot",
] }
tracing-appender = { version = "0.2", features = ["parking_lot"] }
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7.11", features = ["full"] }
tokio-stream = { version = "0.1.15", features = ["full"] }
clap = { version = "4.5.16", features = ["derive", "unicode"] }
futures = "0.3"
time = { version = "0.3.36", features = [
  "macros",
  "formatting",
  "parsing",
  "serde",
  "serde-human-readable",
  "rand",
] }
tz-rs = "0.6.14"
tzdb = "0.6.1"
rand = "0.8.5"
# heed = "0.20.5"
tempfile = "3"
bytes = { version = "1", features = ["serde"] }
compact_str = { version = "0.8.0", features = ["serde", "bytes"] }
ropey = "1.6.1"
geo = { version = "0.28.0", features = ["serde"] }
num-traits = "0.2.19"
parking_lot = "0.12.3"
v8 = "0.106.0"
async-trait = "0.1.81"

[dev-dependencies]

[profile.release]
lto = "thin"
strip = "debuginfo"

[profile.nightly]
inherits = "release"
debug = true
