[package]
name = "rsvim"
version = "0.1.1-alpha.5"
edition = "2021"
rust-version = "1.81.0"
authors = ["Lin Rongbin <linrongbin16@outlook.com>"]
description = "The VIM editor reinvented in Rust+TypeScript."
repository = "https://github.com/rsvim/rsvim"
readme = "README.md"
homepage = "https://github.com/rsvim/rsvim"
documentation = "https://docs.rs/rsvim"
license = "Vim OR Apache-2.0"
keywords = ["vim", "neovim", "text-editor", "editor", "terminal"]
categories = ["text-editors"]

[lib]
doctest = false

[dependencies]
crossterm = { version = "0.28", features = ["event-stream", "serde"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [
  "env-filter",
  "parking_lot",
] }
tracing-appender = { version = "0.2", features = ["parking_lot"] }
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7.12", features = ["full"] }
# tokio-stream = { version = "0.1.16", features = ["full"] }
clap = { version = "4.5.17", features = ["derive", "unicode"] }
futures = "0.3"
time = { version = "0.3.36", features = [
  "macros",
  "formatting",
  "parsing",
  "serde",
  "serde-human-readable",
  "rand",
] }
tz-rs = "0.7.0"
tzdb = "0.7.2"
# rand = "0.8.5"
# heed = "0.20.5"
# bytes = { version = "1", features = ["serde"] }
compact_str = { version = "0.8.0", features = ["serde", "bytes"] }
ropey = "1.6.1"
geo = { version = "0.28.0", features = ["serde"] }
num-traits = "0.2.19"
parking_lot = "0.12.3"
v8 = "0.106.0"
deno_core = "0.310.0"
deno_ast = { version = "0.42.0", features = ["transpiling"] }
# async-trait = "0.1.82"
# bincode = "2.0.0-rc.3"
directories = "5.0.1"
anyhow = "1.0.89"
serde_json = "1.0.128"
regex = "1.10.6"

[dev-dependencies]
tempfile = "3"
assert_fs = "1.1.2"

[profile.release]
lto = true
strip = true
opt-level = "z"
codegen-units = 1

[profile.nightly]
inherits = "release"
debug = true
