[workspace]
members = ["rsvim_core", "rsvim_cli"]
resolver = "2"

[workspace.package]
version = "0.1.1-alpha.8"
edition = "2021"
rust-version = "1.81.0"
authors = ["Lin Rongbin <linrongbin16@outlook.com>"]
repository = "https://github.com/rsvim/rsvim"
readme = "README.md"
homepage = "https://rsvim.github.io/"
documentation = "https://rsvim.github.io/"
license = "Vim"
keywords = ["vim", "neovim", "text-editor", "editor", "terminal"]
categories = ["text-editors"]
exclude = [".DS_Store"]

[workspace.dependencies]
rsvim_core = { version = "0.1.1-alpha.8", path = "./rsvim_core" }
crossterm = { version = "0.28", features = ["event-stream"] }
jiff = { version = "0.1.29", features = ["tzdb-bundle-always"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [
  "env-filter",
  "parking_lot",
] }
tracing-appender = { version = "0.2", features = ["parking_lot"] }
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7.13", features = ["full"] }
# tokio-stream = { version = "0.1.16", features = ["full"] }
clap = { version = "4.5.32", features = ["derive", "unicode"] }
futures = "0.3"
# rand = "0.8.5"
# heed = "0.20.5"
# bytes = { version = "1" }
# serde_json = "1.0.132"
compact_str = { version = "0.8.1", features = ["bytes"] }
ropey = { version = "1.6.1" }
geo = { version = "0.28.0" }
num-traits = "0.2.19"
parking_lot = "0.12.3"
directories = "5.0.1"
anyhow = "1.0.97"
thiserror = "2"
regex = "1.11.1"
url = "2.5.4"
ahash = "0.8.11"
path-absolutize = "3.1.1"
toml = "0.8.19"
once_cell = { version = "1.21.1", features = ["parking_lot"] }
tempfile = "3"
assert_fs = "1.1.2"
zstd = "0.13.2"
ascii = "1.1.0"
unicode-width = "0.2.0"
unicode-segmentation = "1.12.0"
# unicode-normalization = "0.1.24"
# icu = { version = "1.5.0", features = ["compiled_data"] }

# NOTE: For javascript dependencies, we simply keep same with deno and don't use dependabot {

# deno v2.2.2: https://github.com/denoland/deno/blob/v2.2.2/Cargo.toml
# deno_core 0.338.0: https://github.com/denoland/deno_core/blob/0.338.0/Cargo.toml
# deno_ast 0.45.1: https://github.com/denoland/deno_ast/blob/0.45.1/Cargo.toml
v8 = { version = "=134.4.0", default-features = false }
swc_atoms = "=0.6.7"
swc_bundler = "=0.237.0"
swc_common = { version = "=0.37.5", features = ["tty-emitter"] }
swc_config = "=0.1.15"
swc_config_macro = "=0.1.4"
swc_ecma_ast = "=0.118.2"
swc_ecma_codegen = "=0.155.1"
swc_ecma_codegen_macros = "=0.7.7"
swc_ecma_loader = "=0.49.1"
swc_ecma_parser = "=0.149.1"
swc_ecma_transforms_base = "=0.145.0"
swc_ecma_transforms_classes = "=0.134.0"
swc_ecma_transforms_compat = "=0.171.0"
swc_ecma_transforms_macros = "=0.5.5"
swc_ecma_transforms_optimization = "=0.208.0"
swc_ecma_transforms_react = "=0.191.0"
swc_ecma_transforms_typescript = "=0.198.1"
swc_ecma_utils = "=0.134.2"
swc_ecma_visit = "=0.104.8"
swc_eq_ignore_macros = "=0.1.4"
swc_graph_analyzer = "=0.26.0"
swc_macros_common = "=0.3.13"
swc_visit = "=0.6.2"
sourcemap = "9.0.0"

# NOTE: For javascript dependencies, we simply keep same with deno and don't use dependabot }

# Profiles

# Debug
[profile.dev.package.v8]
opt-level = 1

# Release {
[profile.release]
lto = true
strip = true
codegen-units = 1
opt-level = 'z'   # Optimize for size

## Crates that don't optimize for size
[profile.release.package.base64-simd]
opt-level = 3
# [profile.release.package.brotli]
# opt-level = 3
# [profile.release.package.brotli-decompressor]
# opt-level = 3
[profile.release.package.bytes]
opt-level = 3
[profile.release.package.rand]
opt-level = 3
[profile.release.package.serde]
opt-level = 3
[profile.release.package.serde_json]
opt-level = 3
[profile.release.package.tokio]
opt-level = 3
[profile.release.package.url]
opt-level = 3
[profile.release.package.v8]
opt-level = 3
[profile.release.package.zstd]
opt-level = 3
[profile.release.package.zstd-sys]
opt-level = 3

# Release }

# Nightly
[profile.nightly]
inherits = "release"
debug = true
