[package]
name = "rsvim_core"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
repository.workspace = true
readme.workspace = true
homepage.workspace = true
documentation.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
exclude.workspace = true
description = "The core library for RSVIM text editor."

[lib]
doctest = false

[features]
# NOTE: When running miri, disable default features ('simd'), only enable 'unicode_lines' feature:
# `cargo +nightly miri nextest run -p rsvim_core -F unicode_lines --no-default-features`
default = ["simd", "unicode_lines"]
simd = ["ropey/simd"]
unicode_lines = ["ropey/unicode_lines"]

[dependencies]
crossterm = { workspace = true, features = ["event-stream"] }
lexopt = { workspace = true }
jiff = { workspace = true, features = ["tzdb-bundle-always"] }
log = { workspace = true, features = [
  "max_level_trace",
  "release_max_level_error",
] }
env_filter = { workspace = true }
fern = { workspace = true }
tokio = { workspace = true, features = ["full"] }
tokio-util = { workspace = true, features = ["full"] }
futures = { workspace = true }
compact_str = { workspace = true }
ropey = { workspace = true, default-features = false }
geo = { workspace = true }
num-traits = { workspace = true }
parking_lot = { workspace = true }
dirs = { workspace = true }
anyhow = { workspace = true }
# thiserror = { workspace = true }
regex = { workspace = true }
foldhash = { workspace = true }
# url = { workspace = true }
path-absolutize = { workspace = true }
# zstd = { workspace = true }
ascii = { workspace = true }
icu = { workspace = true, features = ["compiled_data"] }
itertools = { workspace = true }
derive_builder = { workspace = true }
lru = { workspace = true }
paste = { workspace = true }
smallvec = { workspace = true }
litemap = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
downcast-rs = { workspace = true }
async-trait = { workspace = true }
ringbuf = { workspace = true }
serde_json = { workspace = true }

# NOTE: Javascript dependencies {

v8 = { workspace = true, default-features = false }
swc_atoms = { workspace = true }
swc_common = { workspace = true, features = ["tty-emitter"] }
swc_config = { workspace = true }
swc_config_macro = { workspace = true }
swc_ecma_ast = { workspace = true }
swc_ecma_codegen = { workspace = true }
swc_ecma_codegen_macros = { workspace = true }
swc_ecma_loader = { workspace = true }
swc_ecma_lexer = { workspace = true }
swc_ecma_parser = { workspace = true }
swc_ecma_transforms_base = { workspace = true, features = ["inline-helpers"] }
swc_ecma_transforms_classes = { workspace = true }
swc_ecma_transforms_compat = { workspace = true }
swc_ecma_transforms_macros = { workspace = true }
swc_ecma_transforms_optimization = { workspace = true }
swc_ecma_transforms_proposal = { workspace = true }
# swc_ecma_transforms_react = { workspace = true }
swc_ecma_transforms_typescript = { workspace = true }
swc_ecma_utils = { workspace = true }
swc_ecma_visit = { workspace = true }
swc_eq_ignore_macros = { workspace = true }
# swc_bundler = { workspace = true }
# swc_graph_analyzer = { workspace = true }
swc_macros_common = { workspace = true }
swc_trace_macro = { workspace = true }
swc_visit = { workspace = true }
# swc_sourcemap = "=9.3.4"

# NOTE: Javascript dependencies }

[dev-dependencies]
unicode-width = { workspace = true }
# unicode-segmentation = { workspace = true }
assert_fs = { workspace = true }
bitflags = { workspace = true }
normpath = { workspace = true }
