[package]
name = "rsvim_core"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
repository.workspace = true
readme.workspace = true
homepage.workspace = true
documentation.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
exclude.workspace = true
description = "The core library for the RSVIM editor."

[lib]
doctest = false

[dependencies]
crossterm = { workspace = true, features = ["event-stream"] }
jiff = { workspace = true, features = ["tzdb-bundle-always"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = [
  "env-filter",
  "parking_lot",
] }
tracing-appender = { workspace = true, features = ["parking_lot"] }
tokio = { workspace = true, features = ["full"] }
tokio-util = { workspace = true, features = ["full"] }
clap = { workspace = true, features = ["derive", "unicode"] }
futures = { workspace = true }
compact_str = { workspace = true, features = ["bytes"] }
ropey = { workspace = true }
geo = { workspace = true }
num-traits = { workspace = true }
parking_lot = { workspace = true }
dirs = { workspace = true }
anyhow = { workspace = true }
thiserror = { workspace = true }
regex = { workspace = true }
ahash = { workspace = true }
url = { workspace = true }
path-absolutize = { workspace = true }
toml = { workspace = true }
once_cell = { workspace = true, features = ["parking_lot"] }
zstd = { workspace = true }
ascii = { workspace = true }
unicode-width = { workspace = true }
unicode-segmentation = { workspace = true }
# unicode-normalization = { workspace = true }
# icu = { workspace = true, features = ["compiled_data"] }
derive_builder = { workspace = true }
lru = { workspace = true }
paste = { workspace = true }

# NOTE: For javascript dependencies, we simply keep same with deno and don't use dependabot {

v8 = { workspace = true, default-features = false }
swc_atoms = { workspace = true }
swc_common = { workspace = true, features = ["tty-emitter"] }
swc_config = { workspace = true }
swc_config_macro = { workspace = true }
swc_ecma_ast = { workspace = true }
swc_ecma_codegen = { workspace = true }
swc_ecma_codegen_macros = { workspace = true }
swc_ecma_loader = { workspace = true }
swc_ecma_parser = { workspace = true }
swc_ecma_transforms_base = { workspace = true }
swc_ecma_transforms_macros = { workspace = true }
swc_ecma_transforms_optimization = { workspace = true }
swc_ecma_transforms_react = { workspace = true }
swc_ecma_transforms_typescript = { workspace = true }
swc_ecma_utils = { workspace = true }
swc_ecma_visit = { workspace = true }
swc_eq_ignore_macros = { workspace = true }
swc_bundler = { workspace = true }
swc_graph_analyzer = { workspace = true }
swc_macros_common = { workspace = true }
swc_visit = { workspace = true }
sourcemap = { workspace = true }

# NOTE: For javascript dependencies, we simply keep same with deno and don't use dependabot }

[dev-dependencies]
tempfile = "3"
assert_fs = "1.1.2"
