name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
env:
  RUST_CHANNEL: "stable"
  RUSTFLAGS: "-Dwarnings"
  RUST_BACKTRACE: "full"
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
jobs:
  typos:
    name: Typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@master
  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: actions/checkout@v4
      - name: Rustfmt
        run: cargo fmt --check
  taplo:
    name: Taplo
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: actions/checkout@v4
      - name: Taplo
        run: |
          cargo install taplo-cli
          taplo fmt --check Cargo.toml
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: actions/checkout@v4
      - name: Clippy
        run: cargo clippy --all-targets --all-features
  msrv:
    name: MSRV
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: cargo-bins/cargo-binstall@main
      - uses: actions/checkout@v4
      - name: MSRV
        run: |
          cargo binstall --version 0.15.1 --no-confirm cargo-msrv
          echo "cargo --list"
          cargo --list
          echo "cargo msrv list"
          cargo msrv list
          echo "cargo msrv show"
          cargo msrv show
          echo "cargo msrv verify"
          cargo msrv verify
  unit_test:
    name: Unit Test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@cargo-llvm-cov
      - name: Run Tests
        run: |
          cargo llvm-cov clean --workspace
          cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info
      - uses: codecov/codecov-action@v4
        with:
          files: lcov.info
          fail_ci_if_error: true
