name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
env:
  # CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 3
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"
  RUSTDOCFLAGS: "-Dwarnings"
  RSVIM_LOG: "trace"
  RUST_BACKTRACE: "full"
  # RUSTC_LOG: "rustc_codegen_ssa::back::link=info"
  SCCACHE_DIR: ${{ format('{0}/.sccache-cache', github.workspace) }}
jobs:
  check:
    name: Check
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Tsc
        run: |
          npm install -g typescript
          tsc --version
          echo "show PWD=${PWD}"
          echo "./dev.py fmt --tsc"
          python3 ./dev.py fmt --tsc
          git diff --exit-code HEAD
      - name: Install Rust
        run: |
          rustup component add clippy rustfmt
          rustup toolchain install nightly
          rustup component add --toolchain nightly rustfmt
      - name: Rustfmt
        run: cargo +nightly fmt --check
      - name: Clippy
        run: cargo clippy --all-targets
      - name: Taplo
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -x
          curl -fsSL https://github.com/tamasfe/taplo/releases/latest/download/taplo-linux-x86_64.gz | gzip -d - | install -m 755 /dev/stdin /usr/local/bin/taplo
          taplo --version
          taplo check
          taplo fmt --check
      - uses: rustsec/audit-check@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check advisories --allow unmaintained
      - name: Docs
        env:
          RUSTDOCFLAGS: "-Dwarnings"
        run: |
          echo "Info: cargo doc --workspace"
          cargo doc --workspace
  unit_test:
    name: Unit Test
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm, macos-15, macos-15-intel, windows-2022]
    runs-on: ${{ matrix.os }}
    env:
      RUSTC_WRAPPER: "sccache"
      # Relate issue: https://github.com/denoland/rusty_v8/issues/1849
      RUSTFLAGS: >-
        -Dwarnings ${{ contains(matrix.os, 'windows') && '-Csymbol-mangling-version=v0' || '' }}
    steps:
      - uses: Swatinem/rust-cache@v2
        with:
          cache-directories: ${{ env.SCCACHE_DIR }}
      - uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install Rust
        run: rustup component add clippy
      - uses: actions/checkout@v6
      - name: Test
        run: cargo test --color=never --workspace
  test_coverage:
    name: Test Coverage
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm, macos-15, macos-15-intel, windows-2022]
    runs-on: ${{ matrix.os }}
    env:
      RUSTC_WRAPPER: "sccache"
      # Relate issue: https://github.com/denoland/rusty_v8/issues/1849
      RUSTFLAGS: >-
        -Dwarnings ${{ contains(matrix.os, 'windows') && '-Csymbol-mangling-version=v0' || '' }}
    steps:
      - uses: Swatinem/rust-cache@v2
        with:
          cache-directories: ${{ env.SCCACHE_DIR }}
      - uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install Rust
        run: rustup component add rust-src clippy llvm-tools
      - uses: actions/checkout@v6
      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: taiki-e/install-action@nextest
      - name: Nextest with code coverage
        run: |
          cargo llvm-cov clean --workspace
          cargo llvm-cov nextest --workspace --ignore-filename-regex '_tests.rs|tests' --lcov --output-path lcov.info --color=never --no-capture
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
  build:
    name: Build
    runs-on: ubuntu-22.04
    env:
      RUSTC_WRAPPER: "sccache"
    steps:
      - uses: Swatinem/rust-cache@v2
        with:
          cache-directories: ${{ env.SCCACHE_DIR }}
      - uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install Rust
        run: rustup component add clippy
      - uses: actions/checkout@v6
      - name: Build Release
        run: cargo build --release
      - name: Build Nightly
        run: cargo build --profile nightly
