name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
env:
  RUSTFLAGS: "-Dwarnings"
  RUST_BACKTRACE: "full"
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: cargo-bins/cargo-binstall@main
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@master
      - name: Rustfmt
        run: cargo fmt --check
      - name: Taplo
        run: |
          cargo binstall --force --no-confirm taplo-cli
          echo "taplo --version"
          taplo --version
          echo "taplo check"
          taplo check
          echo "taplo fmt --check"
          taplo fmt --check
      - name: Clippy
        run: cargo clippy --all-targets --all-features
      - name: MSRV
        run: |
          cargo binstall --force --no-confirm cargo-msrv
          echo "cargo msrv --version"
          cargo msrv --version
          echo "cargo msrv show"
          cargo msrv show
          echo "cargo msrv verify"
          cargo msrv verify
  unit_test:
    name: Unit Test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@cargo-llvm-cov
      - name: Run Tests
        run: |
          cargo llvm-cov clean --workspace
          cargo llvm-cov --all-features --tests --workspace --lcov --output-path lcov.info
      - uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
