name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 3
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"
  RUSTDOCFLAGS: "-Dwarnings"
  RSVIM_LOG: "trace"
  RUST_BACKTRACE: "full"
  # RUSTC_LOG: "rustc_codegen_ssa::back::link=info"
  SCCACHE_DIR: ${{ format('{0}/.sccache-cache', github.workspace) }}
jobs:
  check:
    name: Check
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Tsc
        run: |
          npm install -g typescript
          tsc --version
          echo "show PWD=${PWD}"
          echo "./dev.py fmt --tsc"
          python3 ./dev.py fmt --tsc
          git diff --exit-code HEAD
      - name: Install Rust
        run: |
          rustup component add rust-src clippy rustfmt
          rustup toolchain install nightly
          rustup component add --toolchain nightly rustfmt
      - name: Rustfmt
        run: cargo +nightly fmt --check
      - name: Clippy
        run: cargo clippy --all-targets
      - name: Taplo
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -x
          curl -fsSL https://github.com/tamasfe/taplo/releases/latest/download/taplo-linux-x86_64.gz | gzip -d - | install -m 755 /dev/stdin /usr/local/bin/taplo
          taplo --version
          taplo check
          taplo fmt --check
      - uses: rustsec/audit-check@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          command: check advisories --allow unmaintained
      - name: Docs
        env:
          RUSTDOCFLAGS: "-Dwarnings"
        run: |
          echo "Info: cargo doc --workspace"
          cargo doc --workspace
  unit_test:
    name: Unit Test
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04-arm
            triple: AARCH64_UNKNOWN_LINUX_GNU
          - os: ubuntu-22.04
            triple: X86_64_UNKNOWN_LINUX_GNU
          - os: macos-15
            triple: AARCH64_APPLE_DARWIN
          - os: macos-15-intel
            triple: X86_64_APPLE_DARWIN
          - os: windows-2022
            triple: X86_64_PC_WINDOWS_MSVC
    runs-on: ${{ matrix.os }}
    env:
      RUSTC_WRAPPER: "sccache"
      ${{ format('CARGO_TARGET_{0}_LINKER', matrix.triple) }}: "clang"
      # Relate issue: https://github.com/denoland/rusty_v8/issues/1849
      RUSTFLAGS: >-
        -Dwarnings ${{ contains(matrix.os, 'windows') && '-Csymbol-mangling-version=v0 -Clink-arg=-fuse-ld=lld-link.exe' || (contains(matrix.os, 'ubuntu') && '-Clink-arg=-fuse-ld=ld.lld' || '-Clink-arg=-fuse-ld=ld64.lld') }}
    steps:
      - uses: Swatinem/rust-cache@v2
        with:
          cache-directories: ${{ env.SCCACHE_DIR }}
      - uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install Rust
        run: |
          rustup component add rust-src clippy llvm-tools
      - name: Sccache Stats
        run: |
          sccache --show-stats
      - uses: actions/checkout@v6
      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: taiki-e/install-action@nextest
      - uses: KyleMayes/install-llvm-action@v2
        with:
          version: "20"
      - name: Install Linker (Linux)
        if: ${{ contains(matrix.os, 'ubuntu') }}
        run: |
          set -x
          sudo apt install -y -q llvm clang
          which ld64.lld
      - name: Install Linker (Mac)
        if: ${{ contains(matrix.os, 'macos') }}
        run: |
          set -x
          which ld64.lld
      - name: Install Linker (Windows)
        if: ${{ contains(matrix.os, 'windows') }}
        run: |
          lld-link --version
      - name: Test
        run: cargo test --color=never --workspace
      - name: Nextest with code coverage
        run: |
          cargo llvm-cov clean --workspace
          cargo llvm-cov nextest --workspace --ignore-filename-regex '_tests.rs|tests' --lcov --output-path lcov.info --color=never --no-capture
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
  build:
    name: Build
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        rust_version: [1.89.0, stable, beta]
    env:
      RUSTC_WRAPPER: "sccache"
      CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_LINKER: "clang"
      RUSTFLAGS: "-Dwarnings -Clink-arg=-fuse-ld=/usr/bin/mold"
    steps:
      - uses: Swatinem/rust-cache@v2
        with:
          cache-directories: ${{ env.SCCACHE_DIR }}
      - uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install Rust
        run: |
          rustup update --no-self-update ${{ matrix.rust_version }}
          rustup default ${{ matrix.rust_version }}
          rustup component add --toolchain ${{ matrix.rust_version }} rust-src clippy
      - name: Install Linker
        run: |
          sudo apt install -y -q llvm clang mold
      - name: Sccache Stats
        run: |
          sccache --show-stats
      - uses: actions/checkout@v6
      - name: Build Release
        run: |
          cargo build --release
      - name: Build Nightly
        run: cargo build --profile nightly
