[package]
name = "rsvim"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
repository.workspace = true
readme.workspace = true
homepage.workspace = true
documentation.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
exclude.workspace = true
description = "The RSVIM text editor."

[dependencies]
rsvim_core = { workspace = true }
log = { workspace = true, features = [
  "max_level_trace",
  "release_max_level_error",
] }
tokio = { workspace = true, features = ["full"] }
lexopt = { workspace = true }
zstd = { workspace = true }

[build-dependencies]
rsvim_core = { workspace = true }
zstd = { workspace = true }
