[package]
name = "rsvim"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
resolver.workspace = true
authors.workspace = true
repository.workspace = true
readme.workspace = true
homepage.workspace = true
documentation.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
exclude.workspace = true
description = "The RSVIM text editor."

[features]
default = []
snmalloc = ["dep:snmalloc-rs"]
mimalloc = ["dep:mimalloc-safe"]
jemalloc = ["dep:tikv-jemallocator"]

[dependencies]
rsvim_core = { workspace = true }
log = { workspace = true, features = [
  "max_level_trace",
  "release_max_level_error",
] }
tokio = { workspace = true, features = ["full"] }
# zstd = { workspace = true }
snmalloc-rs = { workspace = true, optional = true }
mimalloc-safe = { workspace = true, optional = true }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = { workspace = true, optional = true }

[build-dependencies]
rsvim_core = { workspace = true }
git2 = { workspace = true }
# zstd = { workspace = true }
